<!-- <form>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input required minlength='3' maxlength='10' pattern='banana' ngModel name="firstName" #firstName="ngModel" id="firstName"
            type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
            <div *ngIf="firstName.errors.required"> First name is required</div>
            <div *ngIf="firstName.errors.minlength"> minlength is required {{firstName.errors.minlength}}</div>
            <div *ngIf="firstName.errors.pattern"> pattern is not matched </div>
        </div>

    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea ngModel="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
    </div>

    <button class="btn btn-primary">Submit</button>
</form> -->
<!-- <div class="container">
        <h2>Modal Example</h2> -->
        <!-- Trigger the modal with a button -->
        <!-- <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">REGISTER</button> -->

        <!-- Modal -->
        <!-- <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog"> -->

                <!-- Modal content-->
                <!-- <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="text-center blue-col">REGISTER</h4>
                    </div>
                    <div class="modal-body ">
                        <form class="register">
                            <div class="form-group ">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control input-ctl" id="usr" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group  ">
                                <div class="col-sm-12">
                                    <input type="email" class="form-control input-ctl" id="email" placeholder="E-mail">
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control input-ctl" id="number" placeholder="Mobile Number">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default mar-top-30 text-center login-btn" data-toggle="modal" data-target="#myModal">REGISTER</button>

                        </form>


                    </div>

                </div> -->
            <!-- <form>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input required minlength='3' maxlength='10' pattern='banana' ngModel name="firstName" #firstName="ngModel" id="firstName"
            type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
            <div *ngIf="firstName.errors.required"> First name is required</div>
            <div *ngIf="firstName.errors.minlength"> minlength is required {{firstName.errors.minlength}}</div>
            <div *ngIf="firstName.errors.pattern"> pattern is not matched </div>
        </div>

    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea ngModel="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
    </div>

    <button class="btn btn-primary">Submit</button>
</form> -->
<!-- <div class="container">
    <h2>Modal Example</h2> -->
    <!-- Trigger the modal with a button -->
    <!-- <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">REGISTER</button> -->

    <!-- Modal -->
    <!-- <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog"> -->

            <!-- Modal content-->
            <!-- <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="text-center blue-col">REGISTER</h4>
                </div>
                <div class="modal-body ">
                    <form class="register">
                        <div class="form-group ">
                            <div class="col-sm-12">
                                <input type="text" class="form-control input-ctl" id="usr" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group  ">
                            <div class="col-sm-12">
                                <input type="email" class="form-control input-ctl" id="email" placeholder="E-mail">
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-sm-12">
                                <input type="text" class="form-control input-ctl" id="number" placeholder="Mobile Number">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default mar-top-30 text-center login-btn" data-toggle="modal" data-target="#myModal">REGISTER</button>

                    </form>


                </div>

            </div>
        </div>

    </div>

        </div> -->
        <p>Login form</p>